.btnAccueil {
    text-align: center;
    width: 350px;
    height: 70px;
    margin: auto;
}
button.btnAccueil.btnViolet>a{
    color: #F1F1F1;
}

button.btnAccueil.btnJaune>a{
    color: #282828;
}

.logo {
    margin-bottom: 40px;
}

.titreAccueil {
    text-align: center;
    text-shadow: #000000 1px 0 10px;
}

.titreAccueil>h1 {
    margin-bottom: 50px;
}

.titreAccueil>h3 {
    margin-top: 50px;
    margin-bottom: 70px;
}