.btnAccueil {
    text-align: center;
    width: 350px;
    height: 70px;
    margin: auto;
}
button.btnAccueil.btnViolet>a{
    color: #F1F1F1;
}

button.btnAccueil.btnJaune>a{
    color: #282828;
}

.logo {
    margin-bottom: 40px;
}

.titreAccueil {
    text-align: center;
    text-shadow: #000000 1px 0 10px;
}

.titreAccueil>h1 {
    margin-bottom: 50px;
}

.titreAccueil>h3 {
    margin-top: 50px;
    margin-bottom: 70px;
}

@media (min-width:0px) and (max-width:576px)
{
    section.accueilResponsive{
        margin: 0;
        padding: 0;
    }

    .logo>svg {
        width: 60px;
    }

    div.logo {
        display: flex;
        justify-content: end;
        margin-bottom: 0px;
        margin-right: 50px;
    }

    .titreAccueil{
        background-image: url(../images/vectorised_Map_background_SMScreen.jpg);
        background-size: cover;
        margin-right: -35px;
        height: 400px;
    }
    .titreAccueil > h1 {
        margin-bottom: 25px;
    }

    .titreAccueil > h3 {
        margin-top: 30px;
        margin-bottom: 70px;
    }

    .divBtnResponsiveAccueil{
        flex-direction: column;
        align-content: space-around;
        align-items: center;
    }

    .btnAccueil{
        width: 321px;
        height: 65px;
        border-radius: 35px;
    }

    .btnAccueil a {
        font-size: 14px;
    }



    /* Menu inscription et connection  */

    nav.navbar.navbar-expand-lg.z-index-2{
        position: absolute;
        flex-wrap: nowrap;
        top: 850px;
        
    }

    .menuResponsiveAccueil{
        flex-direction: row;
        display: flex;
    }


    .menuResponsiveAccueil li.nav-item{
        margin: 10px;
        border: 1px solid #3F50A7;
        background-color: #3F50A7;
        border-radius: 35px;
        padding: 10px;
        width: 250px;
    }
    
    .menuResponsiveAccueil li.nav-item.margeResponsive{
        margin-left: 26px;
    }

}