/* TODO rajouter des transform ease */
/* TODO boutons avec des ombres portées */

/* Barre noire en haut avec le logo + titre de la page */

.barreHaut {
    height: 85px;
    background-color: #282828;
    justify-content: center;
}

.blocTitresAssociation {
    width: 187px;
    height: 107px;
    background-color: #95509B;
    border-radius: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px;
    font-family: 'coco';
    box-shadow: 0px 3px 6px RGBA(0, 0, 0, 0.2) inset, 2px 3px 5px RGBA(19, 19, 19, 0.5);
}

.barreHaut a {
    text-decoration: none;
    color: #f1f1f1;
}

.barreHaut .blocTitresAssociation:hover, .selectionne {
    background-color: #FAC815;
    border-radius: 17px;
    color: #282828;
    width: 235px;
    height: 146px;
    font-size: 1.3rem;
    box-shadow: 0px 3px 6px RGBA(0, 0, 0, 0.2) inset, 2px 3px 5px RGBA(19, 19, 19, 0.5);
}


/* Container */

.containerAssociation {
    position: relative;
    top: 100px;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100vw;
    height: 65vh;
}

.containerAssociation > div {
    width: 100vw;
    height: 100%;
   /*  max-height: 100%; */
}

/* Section : Codeuses */

.codeuseLison img, .codeuseManon img, .codeuseMaureen img {
    width: 350px;
    border-radius: 50%;
}

.rondImage{
    position: absolute;
}

.codeuseLison, .codeuseManon, .codeuseMaureen {
    align-items: center;
}

.texteCodeusesBackground, .texteValeursBackground, .texteProjetsBackground{
    width: 50%;
    background-color: rgba(63, 80, 167, 0.8);
    border-radius: 10px;
    box-shadow: 2px 3px 5px RGBA(19, 19, 19, 0.6); /* TODO ajout d'une ombre ? est-ce que ça vous va ? si oui, à rajouter sur tous les blocs bleu background */
}

.texteValeursBackground, .texteProjetsBackground{
    width: 65%;
}

.titresCodeuses {
    font-family: 'coco';
    font-size: 35px;
    color: #95509B;
}

.titresCodeuses::first-letter {
    color: #FAC815;
}

.texteCodeuses {
    width: 100%;
}

.svg{ /* mr et ml de bootstrap ne fonctionne pas */
    margin-left: 10px;
    margin-right: 10px;
}


/* Flèches */

.flecheGauche, .flecheDroite {
    margin: auto;
}

/* Sections valeurs, projets et autres initiatives */
div.texteValeursBackground > p:last-of-type, div.texteProjetsBackground > p:last-of-type{ /* le dernier p de mes div */
    margin-bottom: 0;
}