.panneau {
    background-color: rgb(255, 255, 255);
    width: 350px;
    height: 100vh;
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0px;
    transition: 0.3s;
    transition-timing-function: ease;
}

.displayNone {
    width: 0;
    transition: 0.3s;
    transition-timing-function: ease;
}


/* Petite flèche qui fait disparaitre le panneau de droite */

.btnToggle {
    position: absolute;
    top: 0px;
    left: -56px;
    z-index: 10;
    width: 60px;
}

.logoCarte {
    padding-left: 60px;
}


/* //TODO Un hover sur le logo. Ca ne fonctionne pas avec les svg... */


/* .logoCarte>a>svg>path#Tracé_1123:hover {
    box-shadow: 15px 10px 18px #ffffff;
} */


/* Le sous-menu (Nouveautés, Communauté, Favoris) */

.sousMenuGroupe {
    position: absolute;
    top: 0;
    right: 436px;
}

.sousMenuCarte {
    background-color: rgb(255, 255, 255);
    width: 186px;
    text-align: center;
    border-radius: 5px;
    height: 95px;
    font-family: "coco";
    padding-top: 15px;
}

.sousMenuCarte:hover {
    background-color: #F1F1F1;
    cursor: pointer;
}

.violet {
    color: #95509B;
}

.jaune {
    color: #FAC815;
}

.bleu {
    color: #3F50A7;
}