    h2,
    h3 {
        text-align: center;
    }
    
    h4 {
        text-align: left;
        font-size: 1em;
    }
    
    h2.nom {
        padding-bottom: 10px;
    }
    
    img {
        width: 100%;
        border-radius: 5px;
    }
    
    ul {
        list-style: none;
    }
    
    p {
        font-family: "ubuntu";
    }
    /* Les images de profil + le nom + mini bio */
    
    .profilInfosTexte {
        padding-left: 10px;
    }
    
    .profilInfosTexte>p {
        margin: 0;
    }
    
    .profilInfosTexte>span {
        font-style: italic;
    }
    
    .imgProfilMini {
        width: 50px;
        padding-bottom: 10px;
        /*//TODO Rend les images rondes, mais à perfectionner */
        clip-path: ellipse(50% 50%);
    }
    /* Barre icones Image (Icones: coeur/commentaire/messages */
    
    .barreIconeImage {
        width: 59%;
        width: 100%;
    }
    /* Le logo "Home Safe" */
    
    .logoCarte {
        padding-left: 60px;
        position: fixed;
        z-index: 3;
        margin-top: 20px;
    }
    
    .pointer {
        cursor: pointer;
    }
    /* //TODO Un hover sur le logo. Ca ne fonctionne pas avec les svg... */
    /* .logoCarte>a>svg>path#Tracé_1123:hover {
    box-shadow: 15px 10px 18px #ffffff;
} */
    /* Le menu (Nouveautés, Communauté, Favoris) */
    
    .hidden2 {
        width: 0px;
    }
    
    .collapse-btn {
        width: 50px;
        height: 40px;
        border-radius: 25%;
    }
    
    .vertical2 {
        background-color: #F1F1F1;
        width: 5px;
        height: 20px;
    }
    
    .horizontal2 {
        background-color: #F1F1F1;
        width: 20px;
        height: 5px;
        position: fixed;
        top: 303px;
        right: 82px;
    }
    
    .collapseMenu2 {
        top: -300px;
        right: 436px;
        position: fixed;
    }
    
    #iconPlus2 {
        cursor: pointer;
    }
    
    .MenuGroupe {
        position: absolute;
        top: 0;
        right: 436px;
        z-index: 100;
    }
    
    i.fas.fa-minus,
    i.fas.fa-plus {
        color: #F1F1F1;
        font-size: 1.5rem;
    }
    
    .MenuCarte {
        background-color: rgb(255, 255, 255);
        width: 186px;
        text-align: center;
        border-radius: 5px;
        height: 95px;
        font-family: "coco";
        padding-top: 15px;
        transition: all 0.8s ease-in-out;
    }
    
    .MenuCarte:hover {
        background-color: #F1F1F1;
        cursor: pointer;
    }
    
    .bgGris {
        background-color: #dadada;
    }
    
    .violet {
        color: #95509B;
    }
    
    .jaune {
        color: #FAC815;
    }
    
    .bleu {
        color: #3F50A7;
    }
    
    .rouge {
        color: #BF293E;
    }
    
    .bgViolet {
        background-color: #95509B;
    }
    
    .bgJaune {
        background-color: #FAC815;
    }
    
    .bgBleu {
        background-color: #3F50A7;
    }
    
    #aside {
        color: #707070;
    }
    
    #aside {
        overflow-x: hidden;
        padding: 0;
    }
    
    #aside>* {
        padding-left: 15px;
        padding-right: 15px;
    }
    
    .panneau {
        background-color: rgb(255, 255, 255);
        width: 350px;
        height: 100vh;
        z-index: 1;
        position: absolute;
        top: 0;
        right: 0px;
        transition: 0.3s;
        transition-timing-function: ease;
        /* Pour que le bloc soit bien calé sur la fenêtre de l'écran */
        right: 12px;
    }
    
    .displayNone {
        width: 0;
        transition: width 0.3s;
        transition-timing-function: ease;
    }
    /* Petite flèche qui fait disparaitre le panneau de droite */
    
    .btnToggle {
        position: absolute;
        top: 15px;
        left: -38px;
        z-index: 10;
        width: 60px;
        height: 50px;
        background-color: rgba(255, 255, 255, 0.3);
        cursor: pointer;
        border-radius: 5px;
        ;
    }
    
    i.fas.fa-chevron-right,
    i.fas.fa-chevron-left {
        color: #F1F1F1;
        font-size: 1.5rem;
    }
    /*---------- Petite barre du haut dans l'aside à droite (sous-menu permanent)-----------*/
    
    .petiteBarreDuHaut {
        padding-top: 15px;
        padding-bottom: 30px;
    }
    
    .miniPhotoProfil {
        cursor: pointer;
    }
    /* Le sous-menu déroulant */
    
    .btnDropdown {
        padding: 10px;
        border-radius: 20px;
        border: none;
    }
    
    .btnDropdown:hover {
        background-color: #FAC815;
    }
    
    .dropdown {
        position: relative;
        display: inline-block;
        padding-left: 10px;
    }
    
    .contenuDropdown {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        border-radius: 5px;
    }
    
    .contenuDropdown a {
        color: #95509B;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        border-radius: 5px;
    }
    
    .contenuDropdown a:hover {
        background-color: #ddd;
    }
    
    .dropdown:hover .contenuDropdown {
        display: block;
        border-radius: 5px;
    }
    /* Le hover sur la mini photo de profil dans l'aside */
    /* //TODO : un hover plus joli sur le svg de la photo  */
    /* .miniPhotoProfil:hover {
    box-shadow: 2px 2px black;
} */
    /* Hover sur l'icon commentaires */
    
    .commentairesIcon>div:hover {
        background-color: #FAC815;
    }
    
    .commentairesIcon>div {
        padding: 8px;
        border-radius: 20px;
        border: none;
    }
    /* Au chargement de la page, ces rubriques n'aparaissent pas. Elles sont accessibles au clic-bouton */
    
    #nouveautes,
    #communaute,
    #favoris {
        display: none;
    }
    /* Input "rechercher" (pour panneau "Profil" et "Communauté") */
    
    .barreDeRecherche {
        position: fixed;
        top: 150px;
        z-index: 3;
    }
    
    .rechercher {
        padding-bottom: 10px;
        padding-top: 10px;
    }
    
    input.inputRechercher {
        width: 270px;
        margin: auto;
    }
    /*--- Panneau "Profil"--- */
    /* Le fil d'actualité */
    
    .titreProfil {
        text-align: left;
        padding-top: 20px;
        padding-bottom: 10px;
    }
    
    .filActualite {
        overflow-y: scroll;
        overflow: auto;
        height: 500px;
        padding: 15px;
    }
    /* --Cacher la barre de scroll (c'est plus joli :) )-- */
    /* Hide scrollbar for Chrome, Safari and Opera */
    
    .filActualite::-webkit-scrollbar {
        display: none;
    }
    /* Hide scrollbar for IE, Edge and Firefox */
    
    .filActualite {
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }
    
    .imgActualite {
        width: 100%;
        border-radius: 5px;
        padding-bottom: 10px;
    }
    
    .photoProfilGrande {
        display: flex;
        justify-content: center;
    }
    /* Le texte de "Nouveau Lieu" */
    
    .categorieNewLieu {
        background-color: #FAC815;
        border-radius: 15px;
        color: #282828;
    }
    /* Les icones de la catégorie "new lieu" */
    
    .categorieNewLieu i {
        padding-left: 10px;
        padding-right: 10px;
    }
    /* Hover sur les svg de la barre d'icones violette de l'image (coeur/commentaire/message)*/
    /* Icone "coeur" */
    
    #Icon_awesome-heart-2:hover {
        fill: #FAC815;
    }
    /* Icone "commentaire" */
    
    #Icon_awesome-comment:hover {
        fill: #FAC815;
    }
    /* Icone "message" */
    
    #Icon_ionic-ios-send:hover {
        fill: #FAC815;
    }
    /*--- Panneau "Nouveautés"--- */
    
    #nouveautes>h3 {
        font-style: italic;
    }
    
    #nouveautes {
        padding-left: 25px;
        padding-right: 25px;
    }
    
    #nouveautesContent {
        overflow-y: scroll;
        overflow: auto;
        height: 720px;
    }
    /* --Cacher la barre de scroll (c'est plus joli :) )-- */
    /* Hide scrollbar for Chrome, Safari and Opera */
    
    #nouveautesContent::-webkit-scrollbar {
        display: none;
    }
    /* Hide scrollbar for IE, Edge and Firefox */
    
    #nouveautesContent {
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }
    /* Lieu "Ami" (favori de notre communauté) */
    
    .lieuAmi {
        box-shadow: 0px 3px 6px RGBA(0, 0, 0, 0.2) inset, 2px 3px 5px RGBA(19, 19, 19, 0.5);
        font-family: 'coco';
        border: none;
        border-radius: 20px 20px 20px 20px;
        background-color: #FAC815;
        color: #282828;
    }
    
    .lieuAmi:hover {
        background-color: #ffdf6b;
    }
    
    .svgCoeur {
        margin-right: 10px;
    }
    
    .svgLieu {
        margin-left: 10px;
    }
    
    .lieuAmiTexte {
        padding-top: 10px;
    }
    
    .lieuAmiTexte>p {
        font-size: 1em;
        text-align: left;
    }
    
    .lieuAmiTexte>span {
        color: #707070;
        font-family: "ubuntu";
        font-size: 0.8rem;
    }
    /* Lieu "Alerte", blacklisté par notre communauté */
    
    .alerteTitre>span {
        font-style: italic;
        color: #3F50A7;
        font-size: 0.8em;
        padding-left: 10px;
    }
    
    .lieuAlerte {
        background-color: #BF293E;
        box-shadow: 0px 3px 6px RGBA(0, 0, 0, 0.2) inset, 2px 3px 5px RGBA(19, 19, 19, 0.5);
        font-family: 'coco';
        border: none;
        color: #282828;
        border-radius: 20px 20px 20px 20px;
    }
    
    .lieuAlerte:hover {
        background-color: #d34a5c;
    }
    
    .lieuAlerteTexte>span {
        color: #F1F1F1;
        font-family: "ubuntu";
        font-size: 0.8rem;
    }
    
    .lieuAlerteTexte {
        padding-top: 10px;
        text-align: left;
    }
    
    .svgAlerte {
        margin-right: 10px;
    }
    
    .svgCommentaireAlerte {
        padding-top: 10px;
    }
    /*  Comme le fond du commentaire est un svg, on positionne le texte en relatif par rapport à lui */
    
    .texteCommentaireAlerte {
        position: relative;
        top: -195px;
        left: 26px;
        font-size: 0.9em;
    }
    
    .texteCommentaireAlerte>span {
        color: #BF293E;
    }
    /* Div pour que le texte soit à la bonne largeur */
    
    .blocTexteCommentaire {
        width: 250px;
    }
    /* L'auteurice du commentaire */
    
    .sousTitreCommentaire {
        font-style: italic;
        color: #3F50A7;
        font-size: 0.8em;
        padding-left: 10px;
    }
    /* Les commentaires (pas en svg */
    
    .commentaireNouveaute {
        width: 80%;
        border-radius: 15px;
        font-size: 0.9em;
        padding: 10px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
    
    .commentaireNouveaute.bgViolet {
        color: #F1F1F1;
    }
    
    .commentaireAuteurSession {
        text-align: right;
    }
    /*--- ----------- Panneau "Communauté"--------------- */
    
    .groupInfos {
        padding-top: 10px;
    }
    /*--- Panneau "Favoris"--- */
    /* Scroll */
    
    .favorisContent {
        overflow: auto;
        height: 525px;
    }
    /* Hover sur les lieux Favoris */
    
    .hoverJaune:hover i,
    .hoverJaune:hover div {
        color: #FAC815;
        cursor: pointer;
    }
    /* Couleur des icones */
    
    .hoverJaune i {
        color: #707070;
        padding-right: 15px;
    }
    /* Dropdown pour le grand "plus": Créer une liste, ajouter un lieu" */
    
    #iconPlusFavoris:hover {
        fill: #FAC815;
        border-radius: 25px;
    }
    /* Le sous-menu déroulant */
    
    .btnDropdownFavoris {
        padding: 10px;
        border-radius: 20px;
        border: none;
    }
    
    .btnDropdownFavoris:hover {
        background-color: #FAC815;
    }
    
    .dropdownFavoris {
        position: relative;
        display: inline-block;
        padding-left: 10px;
    }
    
    .contenuDropdownFavoris {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        border-radius: 5px;
        right: 2px;
    }
    
    .contenuDropdownFavoris a {
        color: #95509B;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        border-radius: 5px;
        font-style: bold;
    }
    
    .contenuDropdownFavoris a:hover {
        background-color: #ddd;
    }
    
    .dropdownFavoris:hover .contenuDropdownFavoris {
        display: block;
        border-radius: 5px;
    }
    /* Le titre du dropdown ("créer") */
    
    .contenuDropdownFavoris p {
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 10px;
        font-style: italic;
    }
    /* Lieux favoris */
    
    .bgGris {
        background-color: #E2E2E2;
        border-radius: 25px;
        margin-bottom: 25px;
    }
    
    .titreListeFavoris {
        background-color: #95509B;
        border-radius: 25px;
        padding-top: 15px;
        padding-bottom: 5px;
        padding-left: 20px;
        padding-right: 20px;
        box-shadow: 0px 3px 6px RGBA(0, 0, 0, 0.2) inset, 2px 3px 5px RGBA(19, 19, 19, 0.5);
        width: 90%;
        margin: auto;
    }
    
    .titreListeFavoris i {
        /* Style des icones dans les titres des images */
        color: #FAC815;
        font-size: 2em;
    }
    
    .titreListeFavoris>div>p {
        color: #F1F1F1;
        font-family: "ubuntu";
    }
    /* Pour le style des images des listes */
    
    .imageLieuxFavoris {
        margin: 10px;
        padding-bottom: 10px;
    }
    
    .imageLieuxFavoris img {
        border-radius: 25px;
        object-fit: cover;
        height: 200px;
    }
    /* Le petit plus sur les images */
    /* .petitPlusImageFavoris {
        position: absolute;
        top: 600px;
        right: 45px;
    } */
    /*---------------- Carte*/
    
    #map {
        width: 100vw;
        height: 100vh;
        position: relative;
        z-index: 1;
    }