.blocComplet {
    padding-top: 30px;
}

.champFormulaire {
    width: 90%;
}

.coco {
    font-family: "coco";
}


/* Ecartement des infos de contact (à gauche) */

div.align-self-center {
    padding: 30px;
}

div .texteContact {
    padding: 30px;
    font-size: 20px;
    text-shadow: rgb(0, 0, 0) 1px 0 10px;
}

.flex-menu-contact {
    display: flex;
    background-color: #282828;
    padding-top: 10px;
    padding-bottom: 10px;
}

.flex-menu-contact>p {
    padding-left: 30px;
}


/*----- Le formulaire ------- */


/* Couleur des labels dans le formulaire */

form>label {
    color: #FAC815;
    font-weight: bold;
    padding: 10px;
}

.formulaireContact {
    padding-top: 30px;
    padding-bottom: 20px;
    border: 2px solid #282828;
    border-radius: 10px;
    background-color: #282828;
    width: 80%;
    box-shadow: 2px 3px 5px RGBA(19, 19, 19, 1);
    /* TODO vérifier si l'ombre est identique chez nous toutes */
    margin: auto;
}

h2 {
    text-align: center;
    margin: auto;
}

.informations p {
    font-size: 23px;
}

.informations {
    margin: auto;
}

.informations svg {
    margin-right: 30px;
}


/* Input de la question de l'utilisateur.ice */

#messageContact {
    height: 100px;
}


/* 
 Hover sur le logo

svg:hover {
    width: 70px;
    height: auto;
    position: relative;
    top: 10px;
}

*/


/* Css du champ "Votre question concerne:" */

select {
    background-color: #F1F1F1;
    border-radius: 20px 20px 20px 20px;
    border: 4px solid RGBA(255, 255, 255, 0.5);
    padding: 3px;
    font-family: 'ubuntuLight';
    color: #3F50A7;
    padding: 5px 5px 5px 15px;
    font-size: 0.85rem;
}

select.champFormulaire:focus-visible {
    border: 0;
}

select.champFormulaire:hover,
select.champFormulaire:active,
select.champFormulaire:focus {
    border: 4px solid RGBA(112, 112, 112, 0.5);
}


/* Pièce jointe */

input[type="file"] {
    background-color: #282828;
    border-radius: revert;
    border-style: dashed;
    cursor: pointer;
}

input[type="file"]:hover {
    background-color: #282828;
    border-radius: revert;
}

.pieceJointe {
    box-sizing: border-box;
    border-color: #9B9B9B;
    margin: auto;
    text-align: center;
    font-weight: bold;
    padding: 10px;
}

.pieceJointe label {
    padding: 10px;
}

.centrage {
    margin: auto;
}