/* Barre noire en haut avec le logo + titre de la page */

.barreHaut {
    height: 85px;
    background-color: #282828;
}

.barreHaut .titrePages {
    font-family: 'coco';
    font-size: 35px;
    text-align: center;
}

/* Container */

.container-fluid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* Aside */

aside {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

aside .blocCategories {
    width: 314px;
    height: 85px;
    background-color: #F1F1F1;
    border-radius: 7px;
    color: #282828;
    font-family: 'ubuntuBold';
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

aside .blocCategories:hover {
    background-color: #95509B;
    color: #F1F1F1;
}

/* Sections avec textes */

section {
    display: flex;
    width: 60%;
    flex-wrap: wrap;
}

section article {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 0px 10px 0px;
    flex-wrap: wrap;
}

section article .titreQuestion {
    font-weight: bold;
}

section article .reponse {
    margin-left: 40px;
    padding: 7px 0px 7px 15px;
    border-left: 3px solid #FAC815;
}

/* Sections cachées */

.hidden {
    display: none;
}