.imageDeFond{
    background-image: url("../images/vectorised_Map_background_blured_50%.jpg");
    background-repeat: no-repeat;
    height: 100vh;
}  

.formulaireConnection > h2 {
    font-size: 3.5rem;
    font-family: 'coco';
}

.fondFormulaire {
    border: 3px solid #3F50A7;/* TODO mettre ici la couleur à noir et réduire la taille de la bordure */
    border-radius: 5px;
    background-color: #282828;
    width: 100%;
}

a{/* TODO rajouter les a dans el style général */
  color: #FAC815;
  font-size: 1rem;
  font-family: 'coco';
  text-decoration: none;
}

a:hover{
    color: #3F50A7;
}

.soulignement{
    width: 40%;
    height: 3px;
    background-color: #3F50A7;
    border-radius: 1px;
}

#labelConnectionPrenom, #labelConnectionEmail, #labelConnectionMdp{
    color: #FAC815;
    font-weight: bold;
    padding: 10px;
 /* TODO à vérifier si en accord avec Lison et ses formulaires */
} 


div.fondFormulaire form > input {
    width: 80%;
    margin-bottom: 25px;
}

.btnConnection{
    width: 155px;
    text-align: center;
}

.logoConnection{
    width: 50%;
    height: 50%;
}
