.imageDeFond{
    background-image: url("../images/vectorised_Map_background_blured_50.jpg");
    background-repeat: no-repeat;
    background-position: fixed;
    height: 100vh;

}  

.formulaireConnection > h2 {
    font-size: 3.5rem;
    font-family: 'coco';
}

.fondFormulaire {
    border: 2px solid #282828;
    border-radius: 10px;
    background-color: #282828;
    width: 100%;
    box-shadow:2px 3px 5px RGBA(19, 19, 19, 1); /* TODO vérifier si l'ombre est identique chez nous toutes */
}

a.lienPageConnection{
  color: #FAC815;
  font-size: 1rem;
  font-family: 'coco';
  text-decoration: none;
}

.soulignement{
    width: 80%;
    height: 3px;
    background-color: #3F50A7;
    border-radius: 1px;
    margin: auto;
    margin-top: 3px;
}

.blockHover:hover a.lienPageConnection{ /* je mets le hover sur tout le div donc mettre avant le a */
    color: #3F50A7;
}

.blockHover:hover .soulignement{ /* je mets le hover sur tout le div donc mettre avant la class soulignement */
    background-color: #FAC815;
}

#labelConnectionPrenom, #labelConnectionEmail, #labelConnectionMdp{
    color: #FAC815;
    font-weight: bold;
    padding: 10px;
 /* TODO à vérifier si en accord avec Lison et ses formulaires */
} 


div.fondFormulaire form > input {
    width: 80%;
    margin-bottom: 25px;
}

.btnConnection{
    width: 155px;
    text-align: center;
}

.logoConnection{
    width: 30%;
    height: 30%;
    padding: 0;
    margin: auto;
    height: 100vh;
}
