.imageDeFond{
    background-image: url("../images/vectorised_Map_background_blured_50.jpg");
    background-repeat: no-repeat;
    background-position: fixed;
    height: 100vh;
    width: 100vw;
    /* mettons nous ici en plus une opacité de 0.7 ??????? attention se fait sur toute la pagr */
}

.logoConnection{
    width: 30%;
    padding: 0;
    margin: auto;
    height: 100vh;
}

.formulaireConnection > h2 {
    font-size: 3.5rem;
    font-family: 'coco';
}

.fondFormulaire {
    border: 2px solid #282828;
    border-radius: 10px;
    background-color: #282828;
    width: 80%;
    box-shadow:2px 3px 5px RGBA(19, 19, 19, 1); /* TODO vérifier si l'ombre est identique chez nous toutes */
    margin:auto;
}

/* Texte */

.ombrageText{
    text-shadow: 2px 2px #131313;
}


/************************* liens se connecter et s'inscrire */
a.lienPageConnection{
  color: #FAC815;
  font-size: 1rem;
  font-family: 'coco';
}

.soulignement{
    width: 80%;
    height: 3px;
    background-color: #3F50A7;
    border-radius: 1px;
    margin: auto;
    margin-top: 3px;
}

.blockHover:hover a.lienPageConnection, .blockHover:active a.lienPageConnection, .blockHover:focus a.lienPageConnection{ /* je mets le hover sur tout le div donc mettre avant le a */
    color: #3F50A7;
}

.blockHover:hover .soulignement, .blockHover:active .soulignement, .blockHover:focus .soulignement{ /* je mets le hover sur tout le div donc mettre avant la class soulignement */
    background-color: #FAC815;
}


/************************* inputs du formulaire */
#labelConnectionPrenom, #labelConnectionEmail, #labelConnectionMdp{
    color: #FAC815;
    font-weight: bold;
    padding: 10px;
 /* TODO à vérifier si en accord avec Lison et ses formulaires */
} 

div.fondFormulaire form > input {
    width: 90%;
    margin-bottom: 25px;
}

.btnConnection{
    width: 155px;
    text-align: center;
}

input[type=checkbox]{ /* TODO à voir s'il y ad'autres checkbox ailleurs dans le code */
    /* augmenter la taille des Checkboxes */
  -ms-transform: scale(1.5); /* IE */
  -moz-transform: scale(1.5); /* FF */
  -webkit-transform: scale(1.5); /* Safari et Chrome */
  -o-transform: scale(1.5); /* Opera */
  transform: scale(1.5);
  padding: 15px;
}

/************************* lien termes et condition + j'ai oublié mon mdp */
a.lienTermesEtCondition, a.oublie {
    color: #FAC815;
}
.accepter, .oublie {
    opacity: 0.5;
}

.accepter{
    font-size: 12px;
}

.accepter:hover, .oublie:hover {
    opacity: 1;
}

.checkboxColor{
    /* Pour changer la couleur de fond de la checkbox */
    /* couleur difficilement changeable, correspond au mieux au bleu de la charte */
    filter: hue-rotate(20deg);
}
