/* Polices de caractère */

@font-face {
    /* ubuntu */
    font-family: 'ubuntu';
    src: url('../fonts/ubuntu/Ubuntu-Regular.ttf');
}

@font-face {
    /* ubuntu bold */
    font-family: 'ubuntuBold';
    src: url('../fonts/ubuntu/Ubuntu-Bold.ttf');
}

@font-face {
    /* ubuntu italic */
    font-family: 'ubuntuItalic';
    src: url('../fonts/ubuntu/Ubuntu-Italic.ttf');
}

@font-face {
    /* ubuntu light */
    font-family: 'ubuntuLight';
    src: url('../fonts/ubuntu/Ubuntu-Light.ttf');
}

@font-face {
    /* cocogoose */
    font-family: 'coco';
    src: url('../fonts/cocogoose/Cocogoose\ Pro-trial.ttf');
}


/* ---------------------------- */


/* Responsive  */


/* Question Loïc: est-ce qu'on doit préparer des média querys alors qu'on travaille partiellement en Bootstrap ? */


/* @media (min-width:991px) {} */


/* ---------------------------- */


/* Body */

body {
    margin: 0;
    padding: 0;
    font-size: 15px;
    background-color: #282828;
    background-image: url("../images/vectorised_Map_background_blured_50.jpg");
    background-size: cover;
    color: #F1F1F1;
    /* height: 100vh;
    width: 100vw; */
    overflow-x: hidden;
    overflow-y: hidden;
}

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}


/* Textes */

h1 {
    font-size: 45px;
    font-family: 'coco';
}

h2 {
    font-size: 30px;
    font-family: 'ubuntu';
}

h3 {
    font-size: 20px;
    font-family: 'ubuntuBold';
}

.container-fluid {
    padding: 0;
}


/* Boutons */


/* Utiliser la balise <button> */


/*NOTE: si la taille du bouton doit être changer (width/height), rajouter une autre class mais ne pas modifier cette classe-ci*/

.btnViolet,
.btnJaune,
.btnBleu {
    /* ombre interne & ombre externe */
    box-shadow: 0px 3px 6px RGBA(0, 0, 0, 0.2) inset, 2px 3px 5px RGBA(19, 19, 19, 0.5);
    font-family: 'coco';
    font-size: 1rem;
    border: 1px solid;
    border: none;
    border-radius: 20px 20px 20px 20px;
    width: 129px;
    height: 40px;
}

.btnJaune {
    background-color: #FAC815;
    color: #282828;
}

.btnBleu {
    background-color: #3F50A7;
    color: #F1F1F1;
}

.btnViolet {
    background-color: #95509B;
    color: #F1F1F1;
}

.btnViolet:hover {
    border: 4px solid #5E2F62;
}

.btnBleu:hover {
    border: 4px solid #2A356F;
}

.btnJaune:hover {
    border: 4px solid #A27E00;
}

.btnJaune:focus,
.btnBleu:focus,
.btnViolet:focus {
    outline: none;
}


/* Inputs de lieux et la barre de recherche */

input:not([type="submit"]),
textarea {
    /* pour éviter qu'il fasse nawak avec les input submit - autrement il impossible de centrer correctement */
    background-color: #F1F1F1;
    border-radius: 20px 20px 20px 20px;
    border: 4px solid RGBA(255, 255, 255, 0.5);
    padding: 3px;
    font-family: 'ubuntuLight';
    color: #3F50A7;
    padding: 5px 5px 5px 15px;
    font-size: 0.85rem;
}

input:focus-visible {
    border: 0;
}

input:hover,
input:active,
input:focus {
    border: 4px solid RGBA(112, 112, 112, 0.5);
}

textarea:hover,
textarea:active,
textarea:focus {
    border: 4px solid RGBA(112, 112, 112, 0.5);
}


/* Pour les biographies */

textarea:focus,
input:focus {
    outline: none;
}


/* Input champs formulaire */

.champFormulaire {
    /* Quand il est vide */
    height: 48px;
    width: 327px;
    border-radius: 25px 25px 25px 25px;
}

.champFormulaireErreur {
    /* Quand il y a une erreur */
    height: 48px;
    width: 327px;
    border-radius: 25px 25px 25px 25px;
    border: 4px solid #FAC815;
}


/* Menu à gauche qui apparait et disparait */

.menuPermanent {
    position: absolute;
    top: 600px;
    left: 0;
}

.menuPermanent>ul {
    height: 67px;
    padding: 0;
    margin: 0;
    display: flex;
    list-style: none;
    position: fixed;
}

.menuPermanent>ul>li {
    font-family: 'coco';
    width: 151px;
    margin: auto;
}

.menuPermanent>ul>li>div>a {
    color: #707070;
    margin: auto;
    transition: all 0.4s ease-in-out;
    text-align: center;
}

.passeDevant>li:nth-last-child(2)>div {
    /* cible l'avant dernier element */
    border-radius: 0px 5px 5px 0px;
}

.passeDevant {
    z-index: 150;
}

#iconPlus {
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 100;
    top: 20px;
    left: 20px;
    justify-content: center;
    height: 50px;
    width: 50px;
    font-size: 40px;
}

#iconPlus>div {
    width: 30px;
    margin-bottom: 8px;
    position: absolute;
    top: 22px;
    /*   transition: 0.3s ease all; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vertical {
    background-color: #F1F1F1;
    width: 5px;
    height: 20px;
}

.horizontal {
    background-color: #F1F1F1;
    width: 20px;
    height: 5px;
    top: 8px;
    position: absolute;
}

.hidden {
   width: 0;
}

.menuPermanent>ul>li.collapse {
    left: -300px;
    width: 0;


}

.navBlanc {
    background-color: rgba(255, 255, 255, 0.3);
}


/* li>.navBlanc>div {
    color: #9B9B9B;
} */

.navJaune,
.navBleu,
.navViolet {
    background-color: #F1F1F1;
    height: 67px;
    width: 100%;
    transition: all 0.4s ease-in-out;

}

.blocNav:hover .navJaune {
    background-color: #FAC815;
    
}

.blocNav:hover .navJaune a.nav-link {
    color: #282828;
}

.blocNav:hover .navBleu {
    background-color: #3F50A7;
}

.blocNav:hover .navViolet {
    background-color: #95509B;
}

.blocNav:hover .navBleu a.nav-link,
.blocNav:hover .navViolet a.nav-link {
    color: #F1F1F1;
}

#menuAccueil>ul>li>a {
    color: #F1F1F1;
    font-family: "coco";
    font-size: 1rem;
}