/********* carré noir de la page inscriptiOnProfil*/

.formulaireAvatar, .formulaireEditerProfil {/* TODO même css que les pages Inscription, Connection à rajouter dans le css ? */
    border: 2px solid #282828;
    border-radius: 10px;
    background-color: #282828;
    width: 80%;
    box-shadow:2px 3px 5px RGBA(19, 19, 19, 1); /* TODO vérifier si l'ombre est identique chez nous toutes */
    margin:auto;
}

/********** typographies */

.ajoutAvatar, .ajoutZip, .editerBio {
    font-family: 'coco';
    color: #FAC815;
}

.editerPseudo, .editerCP {
    font-family: 'coco';
    color: #95509B;
}

div>#imageChoisie{
    font-family: 'ubuntuBold';
    color: #FAC815;
}

.titrePseudo {
    width: 80%;
    margin: auto;
}

/********** la partie de l'avatar*/

.importerImage {
    border-radius: 50%;
    width: 155px;
    height: 155px;
    background-color: #F1F1F1;
    border: none;
    cursor: pointer;
    font-family: 'ubuntuLight';
    color: #3F50A7;
    background-size: cover; /* Merci Maureen ! + nécessaire pour que la taille de l'image importée en css se fixe à la taille du cercle */
}

.cacheAppareil{
    visibility: visible;
}

.visibleAppareil{
    visibility: hidden;
}

.ajoutImageEdit {
    border-radius: 50%;
    width: 107px;
    height: 107px;
    background-color: #F1F1F1;
}

/********** la partie de la droplist avec les zip*/

select.zipCodes { /* TODO A voir si Lison en a besoin aussi */
    background-color: #F1F1F1;
    border-radius: 20px 20px 20px 20px;
    border: 4px solid RGBA(255, 255, 255, 0.5);
    padding: 3px;
    font-family: 'ubuntuLight';
    color: #3F50A7;
    padding: 5px 5px 5px 15px;
    font-size: 0.85rem;
}

.infoCP {
    position: relative;
    top: 35px;
    color: #9B9B9B;
    font-size: 12px;
}

/********** la partie bio */

.editBio, .editCP {
    width: 90%;
}

#pseudo, #ad_cp {
    width: 50%;
}

textarea.editerBio {
    resize: none;
    width: 90%;
    min-height: 80px;
}

.infoBio {
    color: #9B9B9B;
    font-size: 12px;
}

/********** les boutons & icones */

.btnSauvegarder {
    width: 150px;
}

.btnChangerAvatar {
    width: 200px;
}

.btnChangerAvatar, .btnSupprimerAvatar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconPhoto {
    background-color: RGBA(255, 255, 255, 0.5);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: relative;
    top: 6px;
    left: 5px;
}

/********** le menu */

.menuEditer{
    position: absolute;
    z-index: 2;
    top: 250px;
    left: 240px;
    color: #9B9B9B;
}

.menuEditer ul li {
    list-style-type: none;
    padding: 5px;
}

.menuEditer ul li:hover {
    color: #FAC815;
}

.menuEditer ul li:hover svg path {
    fill: #FAC815;
}
